/* small */


/* @media(min-width:768px){} */


/* UTILITY */

.inline-block {
    display: inline-block;
}

.vertical-align-m {
    vertical-align: middle;
}

.fit-content {
    height: fit-content;
    position: relative;
}


/* padding */

.px-10 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-20 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-50 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


/* margin */

.mb-24 {
    margin-bottom: 24px;
}

.mt-90 {
    margin-top: 9rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-40 {
    margin-top: 4rem;
}


/* background color */

.bg-dark-blue {
    background-color: #2C3E50;
}

.bg-green {
    background-color: #1ABC9C;
}


/* color */

.txt-white {
    color: #FFFFFF !important;
}


/* serigrapy */

.f-weight-300 {
    font-weight: 300;
}

.f-weight-700 {
    font-weight: 700;
}

.txt-size-sm-16 {
    font-size: 16px;
}

.txt-size-sm-20 {
    font-size: 20px;
}

.txt-size-sm-24 {
    font-size: 24px;
}

.txt-size-sm-36 {
    font-size: 36px;
}

.txt-size-sm-44 {
    font-size: 44px;
}


/* --------------------------------- */

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 720px;
}

#jumbotron img {
    width: 30rem;
}

.star {
    height: 60px;
    line-height: 60px;
    margin-bottom: 3rem;
}

.star>i {
    font-size: 32px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.line-star {
    width: 10rem;
    border-top: 3px solid;
}

#portfolio .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1ABC9C;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0;
}

#portfolio .overlay:hover {
    opacity: .8;
}

.overlay i {
    font-size: 72px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio .content {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
    border-radius: 10px;
}

#portfolio .content img {
    width: 100%;
    border-radius: 10px;
}

#about .btn {
    background-color: transparent;
    border: 2px solid;
    font-size: 20px;
    padding: 16px 28px;
    border-radius: 8px;
}

#about .btn:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #FFFFFF;
}

.contact-me form {
    width: 80%;
    margin: 0 auto;
}

.form-control {
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group {
    border-bottom: 1px solid #e9ecef;
    padding: 4rem 0;
}

.form-control {
    padding: 0;
    color: rgb(73, 80, 87);
}

#contact-me form button {
    padding: 16px 28px;
    background-color: #1ABC9C;
    border: 0;
}

#contact-me form button:hover {
    background-color: #239981;
}

footer i {
    font-size: 20px;
    border: 2px solid;
    padding: 1.3rem 1.5rem;
    border-radius: 50%;
    width: 100%;
}

footer .copiright {
    background-color: #1A252F;
    padding: 1rem;
}


/* medium */

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
    /* utility */
    /* typography */
    .txt-size-md-16 {
        font-size: 16px;
    }
    .txt-size-md-24 {
        font-size: 24px;
    }
    .txt-size-md-28 {
        font-size: 28px;
    }
    .txt-size-md-64 {
        font-size: 64px !important;
    }
    .txt-size-md-48 {
        font-size: 48px !important;
    }
}


/* large */

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}